<ion-header>
  <ion-toolbar>
    <ion-title>New Password DB</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-input #pswTxt required type="password" placeholder="Master Password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input #pswRepeatTxt required type="password" placeholder="Repeat master Password"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button (click)="create(pswTxt.value)" [disabled]="!pswTxt.value || pswTxt.value !== pswRepeatTxt.value">Create</ion-button>
</ion-content>
