<ion-header>
  <ion-toolbar>
    <ion-title>New Password DB</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-input #pswTxt required type="password" placeholder="Master Password" clearOnEdit="false"
        (keyup.enter)="(pswTxt.value && pswTxt.value === pswRepeatTxt.value) && create(pswTxt.value)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input #pswRepeatTxt required type="password" placeholder="Repeat master Password" clearOnEdit="false"
        (keyup.enter)="(pswTxt.value && pswTxt.value === pswRepeatTxt.value) && create(pswTxt.value)"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button (click)="create(pswTxt.value)" [disabled]="!(pswTxt.value && pswTxt.value === pswRepeatTxt.value)">Create</ion-button>
  <hr />
  <h2>OR</h2>
  <ion-list> <!-- TODO MOVE INTO COMPONENT OF SORTS? -->
    <ion-item>
      <ion-label position="stacked">File</ion-label>
      <input type="file" (change)="handleFileInput($event.target.files)" />
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input type="password" [(ngModel)]="importPassword"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button (click)="import()">Import</ion-button>
</ion-content>
