<ion-header>
  <ion-toolbar>
    <ion-title>Password Generator</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-text>{{password}}</ion-text>
    </ion-item>
    <ion-item>
      <ion-range min="3" max="20" pin="true" [(ngModel)]="options.length" (ionChange)="generate()"></ion-range>
    </ion-item>
    <ion-item>
      <ion-label>Uppercase</ion-label>
      <ion-toggle [(ngModel)]="options.uppercase" (ionChange)="generate()"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Numbers</ion-label>
      <ion-toggle [(ngModel)]="options.numbers" (ionChange)="generate()"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Symbols</ion-label>
      <ion-toggle [(ngModel)]="options.symbols" (ionChange)="generate()"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-button buttonType="bar-button" (click)="generate()">Generate</ion-button>
      <ion-button buttonType="bar-button" (click)="confirm()">OK</ion-button>
      <ion-button buttonType="bar-button" (click)="cancel()">Cancel</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
