body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input,
textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border: thin solid darkgray;
  border-radius: 0.5em;
  padding: 0.5em;
  outline: none;
  margin-bottom: 0.5em;
  resize: vertical;
}
