<ion-header>
  <ion-toolbar>
    <ion-title>siteForm</ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="cancel()">
        Cancel
      </ion-button>
      <ion-button *ngIf="upserting" (click)="delete()">
        Delete
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button color="secondary" (click)="save()" [disabled]="!canSave()">
        Save
      </ion-button>
    </ion-buttons>   
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Name</ion-label>
      <ion-input [(ngModel)]="site.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Website</ion-label>
      <ion-input [(ngModel)]="site.website"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Username</ion-label>
      <ion-input [(ngModel)]="site.credentials.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input
        [type]="display ? 'text' : 'password'"
        [(ngModel)]="site.credentials.secret"
        clearOnEdit="false"></ion-input>
    </ion-item>
    <ion-item>
      <ion-button buttonType="bar-button" (click)="copyPassword()">Copy</ion-button>
      <ion-button buttonType="bar-button" (click)="generatePassword()">Generate</ion-button>
      <ion-button buttonType="bar-button" (click)="toggleDisplay()">{{display ? "Hide" : "Display"}}</ion-button>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Notes</ion-label>
      <ion-textarea [(ngModel)]="site.notes"></ion-textarea>
    </ion-item>
  </ion-list>
</ion-content>

<!--
    id: string;
    name: string;
    website: string;
    credentials: Secret;
    tags: string[];
    notes: string;
    secrets: Secret[];
  -->